<p align="center">
	<%=link_to '关于我们'%> | 
	<%=link_to 'VIP会员申请'%> | 
	<%=link_to '作者投稿'%> | 
	<%=link_to '支付中心'%> | 
	<%=link_to '友情连接'%> | 
	<%=link_to '客服中心'%> | 
	<%=link_to '诚聘英才'%> | 
	<%=link_to '关于我们'%> | 
	<%=link_to '联系我们'%> | 
	<%=link_to 'RSS订阅'%>
</p>
<div align="center">
	Copyright (C) 2002-2012 www.qidian.com All Rights Reserved 版权所有 上海玄霆娱乐信息科技有限公司<br>
上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 文网文[2008]149号 新出网证(沪)字010 沪ICP备08017520号-1<br> 
请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！<br>
本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关
</div>
